<%- layout('layouts/boilerplate') %>
<head>
    <link rel="stylesheet" href="/css/auth.css">
</head>

<div class="container2">
  <div class="main">
    <h2>Welcome Back 👋</h2>
    <form action="/login" class="form" method="POST">
      <div class="input-span">
        <input 
          type="email" 
          name="username" 
          id="username" 
          placeholder=" "
          required
        >
        <label for="username" class="label">Email Address</label>
      </div>

      <div class="input-span">
        <input 
          type="password" 
          name="password" 
          id="password" 
          placeholder=" "
          required
        >
        <label for="password" class="label">Password</label>
      </div>

      <button type="submit" class="submit">Continue</button>

      <!-- <div class="span">
        <a href="/forgot-password">Forgot your password?</a>
      </div> -->

      <div class="span">
        New here? <a href="signup">Create an account</a>
      </div>
    </form>

    <% if (success_message) { %>
      <div class="success-message">
        <span><%= success_message %></span>
      </div>
    <% } %>
    
    <% if (error_message) { %>
      <div class="error-message">
        <span><%= error_message %></span>
      </div>
    <% } %>
    
  </div>
</div>