<%- layout('layouts/boilerplate') %>

<body>
    <!-- Show profile Info -->
    <div class="container mt-5">
        <h1>Profile</h1>
        <p><strong>Name:</strong> <%= user.name %></p>
        <p><strong>Email:</strong> <%= user.username %></p>
        <!-- <p><strong>Role:</strong> <%= user.role %></p> -->
    </div>
</body>