<head>
    <title>Signup</title>
    <link rel="stylesheet" href="/css/auth.css" />
</head>
<%- layout('layouts/boilerplate') %>
<body>
        <div class="main">
            <h2>Signup</h2>
            <form action="/signup" class="form" method="POST">
                <span class="input-span">
                    <label for="username" class="label">Email</label>
                    <input type="email" name="username" id="username" /></span>
                <span class="input-span">
                    <label for="password" class="label">Password</label>
                    <input type="password" name="password" id="password" /></span>
                <span class="input-span">
                    <label for="name" class="label">Name</label>
                    <input type="text" name="name" id="name" required /></span>
                    
                <button type="submit" class="submit">Sign Up</button>
                <span class="span">Already have an account? <a href="login">Login</a></span>
            </form>

            <% if (error_message) { %>
                <p>
                    <%= error_message %>
                </p>
                <% } %>
                    <% if (success_message) { %>
                        <p class="success-message">
                            <%= success_message %>
                        </p>
                        <% } %>
        </div>
</body>

</html>