<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>
<div class="topContainer">
  <div class="logo">QUAD</div>
  <div class="navBar">
      <a href="/profile" class="btn">Profile</a>
      <a href="/logout" class="btn" style="background-color: red !important;">Logout</a>
    </ul>
  </div>
</div>
<body>
</body>

</html>